In [5]:
import pandas as pd
import pandas as pd
from sklearn import preprocessing, neighbors, metrics
from sklearn.preprocessing import StandardScaler
df = pd.read_csv('KNN_dataset.csv')
df

,label,col0,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,col11,col12
0,1,1,7869.496200,620.749279,0,-717.999645,-946.995953,0,-317.190547,-594.338149,1,487.000001,41.290000,0
1,0,1,3986.391244,609.188922,1,-717.999417,-946.995817,0,-313.223625,-589.934390,0,487.000001,41.890185,1
2,0,0,5815.401271,624.993602,0,-718.260049,-946.999850,0,-329.008026,-623.137642,0,487.000004,41.497236,1
3,1,1,6345.930143,606.185924,0,-717.999624,-946.997911,0,-306.598552,-748.599505,1,487.000006,40.175550,0
4,0,0,-129.073583,614.921431,1,-718.259286,-946.999250,0,-338.940745,-733.113172,0,487.000006,40.008761,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,1,0,1820.826123,622.713681,0,-717.739489,-947.168523,1,-302.308103,-646.624949,1,487.000004,41.384752,0
163,1,0,3675.571673,604.660436,0,-717.999898,-947.171619,1,-319.387467,-609.150305,0,487.000001,41.044788,0
164,1,1,6075.169735,604.456488,0,-717.999200,-946.996622,1,-323.439907,-714.370021,1,487.000007,41.161973,0
165,1,0,1270.197739,607.694464,1,-717.999891,-946.996229,1,-303.508281,-587.393791,1,487.065883,41.329758,0
166,1,0,7250.695940,613.085510,1,-717.739055,-946.998760,1,-330.265112,-802.669486,1,487.065883,41.776349,0

In [7]:
train_df = df.iloc[0:100]
test_df = df.iloc[100:175]
test_df

,label,col0,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,col11,col12
100,1,1,476.189039,602.270560,0,-717.999460,-946.997847,0,-334.694280,-709.670070,1,487.000000,40.449904,0
101,1,0,4391.575314,621.768371,1,-717.738876,-947.170236,0,-340.629178,-678.486186,1,487.000001,40.616904,1
102,0,0,1133.070828,617.505489,1,-718.259968,-946.822408,1,-328.683422,-591.416657,0,487.000006,40.963145,1
103,0,0,-435.133403,610.611781,1,-717.999368,-946.996456,0,-300.012825,-769.942302,0,486.934128,41.892157,1
104,0,1,6419.071684,611.738696,1,-717.999410,-946.999204,0,-322.550925,-733.998123,1,487.000008,41.402054,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,1,0,1820.826123,622.713681,0,-717.739489,-947.168523,1,-302.308103,-646.624949,1,487.000004,41.384752,0
163,1,0,3675.571673,604.660436,0,-717.999898,-947.171619,1,-319.387467,-609.150305,0,487.000001,41.044788,0
164,1,1,6075.169735,604.456488,0,-717.999200,-946.996622,1,-323.439907,-714.370021,1,487.000007,41.161973,0
165,1,0,1270.197739,607.694464,1,-717.999891,-946.996229,1,-303.508281,-587.393791,1,487.065883,41.329758,0
166,1,0,7250.695940,613.085510,1,-717.739055,-946.998760,1,-330.265112,-802.669486,1,487.065883,41.776349,0

In [8]:
columns = ['col0','col1','col2','col3','col4','col5','col6','col7','col8','col9','col10', 'col11', 'col12']
train_X = train_df[columns]
train_y = train_df['label']
test_X = test_df[columns]
test_y = test_df['label']

train_X

,col0,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,col11,col12
0,1,7869.496200,620.749279,0,-717.999645,-946.995953,0,-317.190547,-594.338149,1,487.000001,41.290000,0
1,1,3986.391244,609.188922,1,-717.999417,-946.995817,0,-313.223625,-589.934390,0,487.000001,41.890185,1
2,0,5815.401271,624.993602,0,-718.260049,-946.999850,0,-329.008026,-623.137642,0,487.000004,41.497236,1
3,1,6345.930143,606.185924,0,-717.999624,-946.997911,0,-306.598552,-748.599505,1,487.000006,40.175550,0
4,0,-129.073583,614.921431,1,-718.259286,-946.999250,0,-338.940745,-733.113172,0,487.000006,40.008761,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,6493.105680,619.609355,1,-718.260006,-946.824725,0,-337.683705,-794.824529,0,486.934123,40.891485,1
96,1,2771.735484,607.741791,0,-717.999232,-946.998532,1,-322.128306,-655.075853,0,487.000008,41.091918,1
97,0,6073.144074,618.548698,0,-717.739126,-946.996419,1,-328.641283,-724.554091,1,487.065879,40.646910,0
98,1,4973.515108,608.104645,1,-718.259421,-946.999873,0,-312.133979,-634.182460,0,487.000000,40.514718,1
99,1,5811.168033,611.641260,0,-717.739418,-947.170771,0,-312.682757,-775.865161,0,487.065880,41.337260,0

In [13]:
scaler = StandardScaler()
scaler.fit(train_X)
train_X = scaler.transform(train_X)
test_X = scaler.transform(test_X)
train_X

array([[ 1.        ,  1.64694458,  0.8117988 , ...,  0.05339456,
         0.63759794, -0.98019606],
       [ 1.        ,  0.14461031, -0.73971127, ...,  0.05336971,
         1.70338323,  1.02020406],
       [-1.        ,  0.8522359 ,  1.38142738, ...,  0.05351582,
         1.00560034,  1.02020406],
       ...,
       [-1.        ,  0.951954  ,  0.51645985, ...,  2.72986555,
        -0.50437708, -0.98019606],
       [ 1.        ,  0.52651861, -0.88523153, ...,  0.05334139,
        -0.7391182 ,  1.02020406],
       [ 1.        ,  0.85059811, -0.41058411, ...,  2.72989431,
         0.72152086, -0.98019606]])

In [103]:
model = neighbors.KNeighborsClassifier(5)
model.fit(train_X, train_y)
predictions = model.predict(test_X)

(predictions == test_y).mean()
predictions

array([1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1])

In [105]:
acc = metrics.cohen_kappa_score(test_df['label'], predictions)
acc

np.float64(0.820855614973262)